<div class="tab-content">
  @if (profileState.articles().length === 0) {
  <div class="empty-state">
    <mat-icon>bookmark</mat-icon>
    <p>No reads to display yet</p>
  </div>
  } @else {
  <div class="reads-list">
    @for(note of profileState.articles(); track note.id) {
    <mat-card class="note-card" appearance="outlined">
      <app-user-profile class="user-profile-thread" view="thread" [pubkey]="profileState.currentProfilePubkey()">
        <a class="date-link" [routerLink]="['/e', note.id]" [matTooltip]="note.created_at * 1000 | date:'medium'"
          matTooltipPosition="below">
          {{ note.created_at | ago }}
        </a>
      </app-user-profile>
      <mat-card-content>{{note.content}}</mat-card-content>
      <mat-card-footer class="note-footer">
        <button mat-icon-button>
          <mat-icon matTooltip="Reply" matTooltipPosition="below">reply</mat-icon>
        </button>
        <button mat-icon-button class="note-footer-right">
          <mat-icon [matTooltip]="bookmark.getBookmarkTooltip(note.id)" matTooltipPosition="below"
            (click)="bookmark.toggleBookmark(note.id)">
            {{bookmark.getBookmarkIcon(note.id)}}
          </mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
    }
  </div>
  }
</div>