<div class="badges-container">
  <div class="badges-header">
    <h1>Badges</h1>
    <div class="badges-actions">
      <button mat-raised-button color="primary" (click)="openBadgeEditor()">
        <mat-icon>add</mat-icon>
        Badge Editor
      </button>
    </div>
  </div>

  @if (viewingProfile()) {
    <div class="minimal-profile">
      <img 
        [src]="viewingProfile()?.data?.picture || 'assets/default-avatar.png'" 
        alt="Profile picture"
        class="profile-avatar"
      />
      <div class="profile-info">
        <div class="profile-name">
          {{ viewingProfile()?.data?.display_name || viewingProfile()?.data?.name || 'Anonymous' }}
        </div>
        <div class="profile-identifier">
          {{ getProfileIdentifier() }}
        </div>
      </div>
    </div>
  }

  @if (isInitialLoading()) {
  <div class="initial-loading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Loading badges...</p>
  </div>
  } @else {
  <mat-tab-group animationDuration="0ms" [selectedIndex]="activeTabIndex()" (selectedIndexChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">verified</mat-icon>
        Accepted
      </ng-template>
      @if (isLoadingAccepted()) {
      <div class="tab-loading">
        <mat-spinner diameter="32"></mat-spinner>
        <p>Loading accepted badges...</p>
      </div>
      } @else {
      <div class="badges-list" cdkDropList (cdkDropListDropped)="onBadgeDropped($event)">
        @for (badge of accepted(); track badge.aTag) {
        <div cdkDrag class="badge-drag-container">
          <app-badge [badge]="badge" layout="horizontal" [showActions]="true" [isUpdating]="isUpdating()"
            [isAccepted]="true" (viewClicked)="viewBadgeDetailsById(badge.id, badge.slug)"
            (removeClicked)="removeBadge(badge)">
          </app-badge>
          <div class="badge-drag-placeholder" *cdkDragPlaceholder></div>
        </div>
        }

        @if (accepted().length === 0) {
        <div class="no-badges-message">
          <mat-icon>verified</mat-icon>
          <p>You haven't accepted any badges yet</p>
        </div>
        }
      </div>
      }
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">military_tech</mat-icon>
        Received
      </ng-template>
      @if (isLoadingReceived()) {
      <div class="tab-loading">
        <mat-spinner diameter="32"></mat-spinner>
        <p>Loading received badges...</p>
      </div>
      } @else {
      <div class="badges-list">
        @for (badge of received(); track badge.id) {
        <app-badge [badge]="badge" layout="horizontal" [showActions]="true" [issuerName]="
                  badgeIssuers()[badge.pubkey]?.name ||
                  badgeIssuers()[badge.pubkey]?.display_name ||
                  'Unknown User'
                " [isAccepted]="isBadgeAccepted(badge)" [isUpdating]="isUpdating()"
          (viewClicked)="viewBadgeDetails(badge)" (acceptClicked)="acceptBadge(badge)"
          (removeClicked)="removeReceivedBadge(badge)" (click)="viewBadgeDetails(badge)">
        </app-badge>
        }

        @if (received().length === 0) {
        <div class="no-badges-message">
          <mat-icon>emoji_events</mat-icon>
          <p>You haven't received any badges yet</p>
        </div>
        }
      </div>
      }
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">emoji_events</mat-icon>
        Given
      </ng-template>
      @if (isLoadingIssued()) {
      <div class="tab-loading">
        <mat-spinner diameter="32"></mat-spinner>
        <p>Loading given badges...</p>
      </div>
      } @else {
      <div class="badges-grid">
        @for (badge of issued(); track badge.id) {
        <app-badge [badge]="badge" (click)="viewBadgeDetails(badge)"></app-badge>
        }
      </div>
      }
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">create</mat-icon>
        Created
      </ng-template>
      @if (isLoadingDefinitions()) {
      <div class="tab-loading">
        <mat-spinner diameter="32"></mat-spinner>
        <p>Loading created badges...</p>
      </div>
      } @else {
      <div class="badges-grid">
        @for (badge of createdDefinitions(); track badge.id) {
        <app-badge [badge]="badge" (click)="viewBadgeDetails(badge)"></app-badge>
        }

        @if (createdDefinitions().length === 0) {
        <div class="no-badges-message">
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
          <p>You haven't created any badges yet</p>
          <button mat-raised-button color="accent" (click)="openBadgeEditor()">
            Create Your First Badge
          </button>
        </div>
        }
      </div>
      }
    </mat-tab>
  </mat-tab-group>
  }
</div>