<div class="page">
    <mat-card>
        @if (profile()) {
        <mat-card-content>
            <p>
                <button type="button" mat-stroked-button (click)="profileImageInput.click()">Choose profile
                    image</button>
                <input hidden (change)="onProfileFileSelected($event)" #profileImageInput type="file" />
                <span class="file-name">
                    <!-- {{selectedProfileFile?.name}} -->
                </span>
&nbsp;
                <button type="button" mat-stroked-button (click)="profileBannerInput.click()">Choose profile
                    banner</button>
                <input hidden (change)="onBannerFileSelected($event)" #profileBannerInput type="file" />
                <span class="file-name">
                    <!-- {{selectedBannerFile?.name}} -->
                </span>
            </p>
            <p>
                <mat-form-field class="input-full-width">
                    <mat-icon matPrefix>badge</mat-icon>
                    <mat-label>Display Name</mat-label>
                    <input matInput type="text" [(ngModel)]="profile().display_name" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="input-full-width">
                    <mat-icon matPrefix>alternate_email</mat-icon>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="profile().name" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="input-full-width">
                    <mat-icon matPrefix>help_outline</mat-icon>
                    <mat-label>About</mat-label>
                    <textarea matInput type="text" [(ngModel)]="profile().about" rows="3"></textarea>
                </mat-form-field>
            </p>
            <!-- <p>
          <mat-form-field class="input-full-width">
            <mat-icon matPrefix>image</mat-icon>
            <mat-label>Profile Image</mat-label>
            <input matInput type="text" [(ngModel)]="profile.picture" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="input-full-width">
            <mat-icon matPrefix>image</mat-icon>
            <mat-label>Profile Banner</mat-label>
            <input matInput type="text" [(ngModel)]="profile.banner" />
          </mat-form-field>
        </p> -->
            <!-- <p>
          <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
          <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" />
        </p> -->
            <p>
                <mat-form-field class="input-full-width">
                    <mat-icon matPrefix>how_to_reg</mat-icon>
                    <mat-label>E-mail/Domain Identifier (NIP-05)</mat-label>
                    <input matInput type="text" [(ngModel)]="profile().nip05" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="input-full-width">
                    <mat-icon matPrefix>public</mat-icon>
                    <mat-label>Website</mat-label>
                    <input matInput type="text" [(ngModel)]="profile().website" />
                </mat-form-field>
            </p>
            <!-- <p>
          <mat-form-field class="input-full-width">
            <mat-icon matPrefix>currency_bitcoin</mat-icon>
            <mat-label>{{ 'Profile.BitcoinPaymentLink' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="profile.lud06" placeholder="LNURL..." />
          </mat-form-field>
        </p> -->
            <p>
                <mat-form-field class="input-full-width">
                    <mat-icon matPrefix>currency_bitcoin</mat-icon>
                    <mat-label>Bitcoin Lightning Address</mat-label>
                    <input matInput type="text" [(ngModel)]="profile().lud16" placeholder="user@domain" />
                </mat-form-field>
            </p>
            <!-- <p>
        <mat-form-field class="input-full-width">
          <mat-icon matPrefix>currency_bitcoin</mat-icon>
          <mat-label>Bitcoin Identity Identifier (LUD16)</mat-label>
          <input matInput type="text" [(ngModel)]="profile.lud16" placeholder="satoshi@bitcoin.org" />
        </mat-form-field>
      </p> -->
            <p>Last updated: {{ metadata()!.event.created_at | ago }}</p>

            {{ metadata() | json }}<br><br>
            {{ profile() }}

        </mat-card-content>
        }
        <mat-card-footer align="end">
            <button mat-button (click)="cancelEdit()">Cancel</button>&nbsp;
            <button mat-flat-button [disabled]="loading()" color="primary" (click)="updateMetadata()">
                @if(loading()) {
                    <mat-spinner diameter="24"></mat-spinner>
                } @else {
                    Save
                }
            </button>
        </mat-card-footer>
    </mat-card>
</div>