<div class="page">
  <div class="queue-header">
    <div class="queue-nav">
      <h2>Media Queue</h2>
      <a mat-button routerLink="/playlists" class="playlists-link">
        <mat-icon>queue_music</mat-icon>
        View Playlists
      </a>
    </div>

    <div class="queue-header-actions">
      <button matTooltip="Add to playlist" (click)="addQueue()" mat-icon-button>
        <mat-icon>playlist_add</mat-icon>
      </button>

      @if (media.media().length > 0) {
      <button mat-raised-button (click)="clearQueue()" matTooltip="Clear entire queue">
        <mat-icon>clear_all</mat-icon>
        Clear Queue
      </button>
      }
    </div>
  </div>

  @if (media.media().length === 0) {
  <div class="empty-queue">
    <mat-icon class="empty-icon">queue_music</mat-icon>
    <p>No media in queue</p>
    <button mat-raised-button color="primary" (click)="addQueue()">
      <mat-icon>add</mat-icon>
      Add Media
    </button>
  </div>
  } @else {
  <div class="media-list">
    <mat-list>
      @for (item of media.media(); track item; let i = $index) {
      <mat-list-item [class.current-playing]="isCurrentPlaying(item, i)">
        @if (hasArtwork(item)) {
        <img matListItemAvatar class="queue-artwork" [src]="utilities.sanitizeImageUrl(getArtwork(item))"
          (error)="onImageError($event, item)" alt="Artwork" />
        } @else {
        <mat-icon matListItemAvatar class="queue-artwork-icon">music_note</mat-icon>
        }
        <span matListItemTitle>
          @if (isCurrentPlaying(item, i)) {
          <mat-icon class="playing-icon">play_circle</mat-icon>
          }
          {{ i + 1 }}. {{ item.title }}
        </span>
        <span matListItemLine>{{ item.artist }}</span>
        <span matListItemMeta class="queue-actions">
          @if (!isCurrentPlaying(item, i)) {
          <button (click)="playItem(i)" mat-icon-button matTooltip="Play this item" color="primary">
            <mat-icon>play_arrow</mat-icon>
          </button>
          }
          <button (click)="remove(item)" mat-icon-button matTooltip="Remove from queue" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-list-item>
      }
    </mat-list>
  </div>
  }
</div>