<div class="following-container" @slideInOut #followingContainer>
  <div class="following-header" @profileShrink>
    <button mat-icon-button class="back-button" (click)="goBack()" aria-label="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="profile-mini">
      @if (userProfile(); as profile) {
      <div class="profile-mini-avatar">
        @if (profile.picture) {
        <img [src]="profile.picture" alt="Profile picture" />
        } @else {
        <mat-icon>account_circle</mat-icon>
        }
      </div>
      <h1 class="profile-mini-name">{{ profile.name }}'s Relays</h1>
      } @else {
      <div class="profile-mini-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <h1 class="profile-mini-name">Relays</h1>
      }
    </div>
  </div>

  <!-- <mat-tab-group class="following-tabs" [selectedIndex]="selectedTabIndex()"
    (selectedIndexChange)="onTabChanged($event)" animationDuration="300ms">
    <mat-tab class="following-tab" label="Relays"> -->
  <div class="following-content">
    @if (getUserRelays().length === 0) {
    <div class="empty-list">
      <mat-icon>people_outline</mat-icon>
      <p>This user does not have any relays.</p>
    </div>
    } @else {
    <cdk-virtual-scroll-viewport class="virtual-scroll-viewport" [itemSize]="itemSize" [minBufferPx]="minBufferPx"
      [maxBufferPx]="maxBufferPx">
      <mat-list class="full-width-list">
        @for (url of getUserRelays(); track url) {
        {{ url }}<br />
        <!-- <app-user-profile [pubkey]="user.npub"></app-user-profile> -->
        }
      </mat-list>
    </cdk-virtual-scroll-viewport>
    }
  </div>
  <!-- </mat-tab>
  </mat-tab-group> -->
</div>