@let item = record();
@let targetItem = repostedRecord() || item;

@if (targetItem && item) {
  <mat-card class="note-card" [class.plain]="isPlain()" appearance="outlined">
    @if (repostedRecord() !== null) {
      <mat-card-header class="repost-header">
        <mat-icon>repeat</mat-icon> Reposted
      </mat-card-header>
      <mat-card-content>
        <mat-card appearance="outlined">
          <app-event-header
            [event]="repostService.decodeRepost(item.event).event"
          ></app-event-header>
          <mat-card-content>
            <app-content
              [content]="repostService.decodeRepost(item.event).data"
            ></app-content>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    } @else {
      <app-event-header [event]="item.event"></app-event-header>
      <mat-card-content>
        <app-content [content]="item.data"></app-content>
      </mat-card-content>
    }
    <mat-card-actions class="note-footer">
      <app-reply-button [event]="targetItem.event"></app-reply-button>

      @if (app.enabledFeature('beta')) {
        @if (reposts().length > 0) {
          <button
            mat-button
            [ngClass]="{
              active: !!myRepost(),
            }"
            (click)="toggleRepost()"
          >
            <mat-icon>repeat</mat-icon>
            {{ reposts().length }}
          </button>
        } @else {
          <button
            mat-icon-button
            [ngClass]="{
              active: !!myRepost(),
            }"
            (click)="toggleRepost()"
          >
            <mat-icon>repeat</mat-icon>
          </button>
        }
      }

      <button mat-icon-button class="note-footer-right">
        <mat-icon
          [matTooltip]="bookmark.getBookmarkTooltip(targetItem.event.id)"
          matTooltipPosition="below"
          (click)="bookmark.toggleBookmark(targetItem.event.id)"
        >
          {{ bookmark.getBookmarkIcon(targetItem.event.id) }}
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
} @else {
  <div class="event-content">
    <p>Event not found</p>
  </div>
}
