.app-link {
  display: inline-block;
  word-break: break-all;
  font-size: 0.8rem;
  color: var(--mat-sys-outline);
  cursor: pointer;
}

.app-link:hover {
  text-decoration: underline;
}

.app-link::visited {
  color: var(--mat-sys-color-secondary);
}
