<div class="material-custom-dialog">
  @if (showHeader()) {
  <div class="dialog-header">
    <div class="dialog-header-leading">
      <div class="header-icon-surface" [class.image-icon-surface]="resolvedIconMode() === 'image'" aria-hidden="true">
        @if (resolvedIconMode() === 'image') {
        <img [src]="resolvedIcon()" [alt]="resolvedTitle() || 'Dialog'" class="header-icon header-image-icon" />
        } @else if (resolvedIconMode() === 'material') {
        <mat-icon class="header-icon">{{ resolvedIcon() }}</mat-icon>
        } @else {
        <span class="header-icon emoji-header-icon">{{ resolvedIcon() }}</span>
        }
      </div>
    </div>

    <h2 mat-dialog-title class="dialog-title">{{ resolvedTitle() }}</h2>

    <div class="dialog-header-trailing">
      <ng-content select="[dialog-header-actions]"></ng-content>
      @if (showCloseButton()) {
      <button mat-icon-button type="button" class="close-button" (click)="close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
      }
    </div>
  </div>
  }

  <div mat-dialog-content class="dialog-content">
    @if (resolvedMessage()) {
    <p class="dialog-message">{{ resolvedMessage() }}</p>
    }

    @if (resolvedDetails().length) {
    <div class="detail-list">
      @for (detail of resolvedDetails(); track detail.title) {
      <div class="detail-item">
        <mat-icon class="detail-icon">{{ detail.icon }}</mat-icon>
        <div class="detail-copy">
          <p class="detail-title">{{ detail.title }}</p>
          <p class="detail-description">{{ detail.description }}</p>
        </div>
      </div>
      }
    </div>
    }

    @if (contentTemplate(); as template) {
    <ng-container [ngTemplateOutlet]="template"></ng-container>
    }

    <ng-content select="[dialog-content]"></ng-content>
  </div>

  <div mat-dialog-actions class="dialog-actions">
    @if (actionsTemplate(); as template) {
    <ng-container [ngTemplateOutlet]="template"></ng-container>
    }

    <ng-content select="[dialog-actions]"></ng-content>

    @if (showDefaultActions()) {
    <button mat-button type="button" (click)="close(false)">
      {{ resolvedSecondaryActionText() }}
    </button>
    <button mat-flat-button type="button" class="primary-action" (click)="close(true)">
      {{ resolvedPrimaryActionText() }}
    </button>
    }
  </div>
</div>