<mat-card-header>
  <app-user-profile [pubkey]="event().pubkey">
    <a
      class="date-link"
      [title]="event().created_at * 1000 | date: 'medium'"
      tabindex="0"
      role="button"
      (click)="openEventAndStopPropagation($event)"
      (keyup.enter)="layout.openEvent(event().id, event())"
      (keyup.space)="layout.openEvent(event().id, event())"
    >
      {{ event().created_at | ago }}
    </a>
    <app-event-menu [event]="event()"></app-event-menu>
  </app-user-profile>
</mat-card-header>
