<mat-card-header [class.compact]="compact()">
  <app-user-profile [pubkey]="event().pubkey" [view]="compact() ? 'compact' : 'list'">
    <a class="date-link" [routerLink]="eventUrl()" [title]="event().created_at | timestamp: 'medium'" tabindex="0"
      (click)="openEventAndStopPropagation($event)" (keyup.enter)="navigateToEvent()" (keyup.space)="navigateToEvent()">
      {{ event().created_at | ago }}
    </a>
    @if (!compact()) {
    <app-event-menu [event]="event()"></app-event-menu>
    }
  </app-user-profile>
</mat-card-header>