.youtube-video {
    width: 100%;
    display: inline-block;
    margin-top: 0.2em;
    aspect-ratio: 16 / 9;
}

.event-video {
    width: 100%;
    display: inline-block;
    margin-top: 0.2em;
    aspect-ratio: 16 / 9;
}