@if(media.current?.type === 'YouTube') {
<div class="media-info">
    @if(media.youtubeUrl) {
    <iframe sandbox="allow-scripts allow-same-origin allow-presentation" id="ytplayer" class="youtube-video"
        type="text/html" [src]="media.youtubeUrl" frameborder="0" allowfullscreen allow="autoplay"></iframe>
    }
</div>
}

@if(media.current?.type === 'Video') {
<div class="media-info">
    <video class="event-video" controls autoplay="true" preload="none">
        <source [src]="media.videoUrl" type="video/mp4" />
    </video>
</div>
}