<div class="video-player-container">
  @if (footer()) {
  <!-- Footer mode - video with controls -->
  <div class="video-player-footer">
    <div class="video-container">
      <video #videoElement class="video-element" [muted]="media.muted" autoplay playsinline
        (error)="onVideoError($event)"></video>

      <div class="video-controls-overlay">
        <button mat-icon-button matTooltip="Picture in Picture" (click)="pictureInPicture()">
          <mat-icon>picture_in_picture_alt</mat-icon>
        </button>
      </div>
    </div>

    <div class="video-controls">
      <div class="control-buttons">
        <button [disabled]="!media.canPrevious()" (click)="media.previous()" mat-icon-button matTooltip="Previous">
          <mat-icon>skip_previous</mat-icon>
        </button>

        @if (media.paused) {
        <button matTooltip="Play" (click)="media.resume()" mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
        } @else {
        <button matTooltip="Pause" (click)="media.pause()" mat-icon-button>
          <mat-icon>pause</mat-icon>
        </button>
        }

        <button [disabled]="!media.canNext()" (click)="media.next()" mat-icon-button matTooltip="Next">
          <mat-icon>skip_next</mat-icon>
        </button>

        <button matTooltip="View queue" routerLink="/media-queue" mat-icon-button>
          <mat-icon>queue_music</mat-icon>
        </button>

        @if (media.muted) {
        <button matTooltip="Unmute" (click)="media.mute()" mat-icon-button>
          <mat-icon>volume_off</mat-icon>
        </button>
        } @else {
        <button matTooltip="Mute" (click)="media.mute()" mat-icon-button>
          <mat-icon>volume_up</mat-icon>
        </button>
        }
      </div>
    </div>
  </div>
  } @else {
  <!-- Compact mode - minimal controls -->
  <div class="video-player-compact">
    <img class="media-icon" src="icons/icon.svg" width="16" height="16" alt="Nostria" />

    <div class="compact-controls">
      <button [disabled]="!media.canPrevious()" (click)="media.previous()" mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
      </button>

      @if (media.paused) {
      <button (click)="media.resume()" mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </button>
      } @else {
      <button (click)="media.pause()" mat-icon-button>
        <mat-icon>pause</mat-icon>
      </button>
      }

      <button [disabled]="!media.canNext()" (click)="media.next()" mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>

      <button routerLink="/media-queue" mat-icon-button>
        <mat-icon>queue_music</mat-icon>
      </button>
    </div>
  </div>
  }
</div>