<div class="image-dialog-container">
  <div class="toolbar">
    <button mat-icon-button (click)="zoomIn()" aria-label="Zoom in">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button (click)="zoomOut()" aria-label="Zoom out">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-icon-button (click)="resetView()" aria-label="Reset view">
      <mat-icon>refresh</mat-icon>
    </button>
    <span class="zoom-level">{{ scale() * 100 }}%</span>
    <button mat-icon-button class="close-button" (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div
    class="image-container"
    #containerElement
    (mousedown)="onPointerDown($event)"
    (mousemove)="onPointerMove($event)"
    (mouseup)="onPointerUp()"
    (mouseleave)="onPointerUp()"
    (touchstart)="onPointerDown($event)"
    (touchmove)="onPointerMove($event)"
    (touchend)="onPointerUp()"
    (touchcancel)="onPointerUp()"
    (wheel)="onWheel($event)"
  >
    <img
      #imageElement
      [src]="dialogData.imageUrl"
      [style.transform]="getTransformStyle()"
      [ngClass]="{ draggable: scale() > 1 }"
      [style.cursor]="isDragging() ? 'grabbing' : scale() > 1 ? 'grab' : 'default'"
      alt="Full size image"
      draggable="false"
    />
  </div>
</div>
