:host {
  display: inline-block;
  max-width: 100%;
  vertical-align: baseline;
}

span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.profile-link {
  display: inline;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

@media (max-width: 700px) {
  .profile-link {
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    padding: 0 2px;
  }
}