@use '@angular/material' as mat;
@use './theme.scss' as nostria-theme;

html {
  --mat-success-color: #4caf50;
  --mat-success-lighter: #c8e6c9;
  --mat-success-darker: #2e7d32;

  @include mat.theme((color: (theme-type: light,
        primary: nostria-theme.$primary-palette,
        tertiary: nostria-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

}

.dark {
  --mat-success-color: #66bb6a;
  --mat-success-lighter: #a5d6a7;
  --mat-success-darker: #388e3c;

  @include mat.theme((color: (theme-type: dark,
        primary: nostria-theme.$primary-palette )));
}

// Global styles
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

a {
  color: var(--mdc-text-button-label-text-color, var(--mat-sys-primary));
  text-decoration: none;
}

a:hover {
  transition: text-decoration 250ms ease;
  transition: color 250ms ease;
  color: var(--mat-sys-inverse-primary);
}

/* Add setting item styles */
.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.dark .setting-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}