:host {
  display: inline-flex;
  align-items: center;
}

.app-icon {
  margin-left: 8px;
  margin-right: 4px;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 600px) {
  .icon-button.hide-small {
    display: none !important;
  }
}

.back-button {
  margin-left: 4px;
  margin-right: 4px;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  // Prevent text selection and context menu on touch devices
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}