@if (hasState()) {
<button mat-icon-button class="back-button hide-small" title="Go back • Right-click or long-press for history" (click)="goBack()"
  (contextmenu)="onRightClick($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)"
  (touchcancel)="onTouchCancel($event)">
  <mat-icon>arrow_back</mat-icon>
</button>
} @else {
<button type="button" class="icon-button" (click)="navigateToHome()" title="Go to home">
  <img src="icons/icon.svg" class="app-icon" alt="Nostria icon" />
</button>
}